/* FONTS  */
@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Regular.woff2') format('woff2'),
      url('../fonts/PublicSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Thin.woff2') format('woff2'),
      url('../fonts/PublicSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Medium.woff2') format('woff2'),
      url('../fonts/PublicSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* custom property  */
:root{
  --linear-gradient: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  --light-green: #30C88F;
  --dark: #2D314D;
  --text-color: #9597A5;
}
/* Common styles */
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  margin-top: 76px;
  font-family: "Public Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.request__button {
  padding: 8px 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  background: var(--linear-gradient);
  border-radius: 22px;  
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}
.request__button:hover{
  opacity: 0.4;
  color: #fff;
}
/* SITE HEADER  */
.site-header{
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}
.site-nav{
  padding: 0;
  background-color: #fff;
}
.site-nav-container{
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;
}
.navbar-toggler:focus{
  box-shadow: none;
}
.navbar-toggler-icon{
  background-image: url("../img/toggler-open@2x.png");
}
.site-nav__list--wrapper{
  flex-grow: 0;
}
.site-nav__item:not(:first-child){
  margin-left: 30px;
}
.site-nav__link{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: var(--text-color);
  transition: color 0.3s ease;
}
.site-nav__link:hover{
  color: var(--dark);
}
/* HERO  */
.hero{
  position: relative;
  padding-top: 170px;
  padding-bottom: 140px;
  background-color: #F2F2F2;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--dark);
}
.hero__text {
  margin-top: 0;
  margin-bottom: 36px;
}
.hero-img{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  z-index: 88;
}

@media screen and (max-width: 1199px) {
  .container{
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  /* hero  */
  .hero{
    padding-top: 85px;
    padding-bottom: 38px;
  }
}
@media screen and (max-width: 991px) {
  .container{
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  /* hero  */
  .hero{
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .hero__title{
    font-size: 46px;
    line-height: 60px;
  }
}
@media screen and (max-width: 767px) {
  .container{
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }
  /* header  */
  .site-header--click{
    height: 100vh;
    background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
  }
  .navbar-toggler-icon--close{
    width: 1em;
    height: 1.3em;
    background-image: url("../img/toggler-close.svg");
  }
  .site-nav__list--wrapper{
    width: 90%;
    position: absolute;
    top: calc(100% + 24px);
  }
  .site-nav__list{
    padding: 32px;
    background-color: #fff;
  }
  .site-nav__item:not(:first-child){
    margin-left: 0;
    margin-top: 24px;
  }
  .site-nav__link{
    font-size: 18px;
    line-height: 21px;
    color: var(--dark);
  }
  .site-nav__link:hover{
    color: var(--text-color);
  }
  /* hero  */
  .hero{
    padding-top: 0;
  }
  .hero-img{
    position: static;
    order: -1;
  }
  .hero-img > img{
    width: 100%;
    height: 650px;
  }
}
@media screen and (max-width: 575px) {
  .container{
    padding-right: 24px;
    padding-left: 24px;
  }
  /* .hero  */
  .hero{
    padding-bottom: 88px;
  }
  .hero__title{
    font-size: 40px;
    line-height: 47px;
  }
  .hero__text{
    font-size: 15px;
    line-height: 25px;
  }
  .hero-img > img{
    width: 100%;
    height: auto;
  }
  .site-nav__list--wrapper{
    width: 87.8%;
  }
}
